{% extends 'homepage.html'%}
{% load static%}
{% block content%}

    {% include "include/header.html"%}
    <!-- navbar end -->
    
    <!-- breadcrumb start -->
    <div class="breadcrumb-area" style="background-image:url('assets/img/other/3.png')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0">
                    <h2 class="page-title">Course</h2>
                    <ul class="page-list">
                        <li><a href="home.html">Home</a></li>
                        <li>Course</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- course area start -->
    <div class="course-area pd-top-120 pd-bottom-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-course-inner">
                        <div class="thumb">
                            <img src="assets/img/course/3.png" alt="img">
                            <div class="course-header-meta">
                                <span class="price">$79</span>                                    
                            </div>
                        </div>
                        <div class="details-inner">
                            <div class="course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="assets/img/course/1.png" alt="img">
                                        Advance
                                    </div>
                                    <div class="col-6 text-right">
                                        <img src="assets/img/course/2.png" alt="img">
                                        5 Week
                                    </div>
                                </div>
                            </div>
                            <h4><a href="course-details.html">Automatic Driving Lessons</a></h4>
                            <p>Excepteur sint occaecat non proident cupidatat, sunt in</p>
                            <div class="course-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="course-author">
                                            <img src="assets/img/other/author-1.png" alt="img">
                                            <span>Abigail Am</span>
                                        </div>
                                    </div>
                                    <div class="col-6 align-self-center text-right">
                                        <a class="read-more-text" href="#">Read More <i class="la la-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-course-inner">
                        <div class="thumb">
                            <img src="assets/img/course/4.png" alt="img">
                            <div class="course-header-meta">
                                <span class="price">$59</span>                                    
                            </div>
                        </div>
                        <div class="details-inner">
                            <div class="course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="assets/img/course/1.png" alt="img">
                                        Advance
                                    </div>
                                    <div class="col-6 text-right">
                                        <img src="assets/img/course/2.png" alt="img">
                                        5 Week
                                    </div>
                                </div>
                            </div>
                            <h4><a href="course-details.html">Cover Installed In The Trucks</a></h4>
                            <p>Excepteur sint occaecat non proident cupidatat, sunt in</p>
                            <div class="course-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="course-author">
                                            <img src="assets/img/other/author-2.png" alt="img">
                                            <span>Al Mahmu</span>
                                        </div>
                                    </div>
                                    <div class="col-6 align-self-center text-right">
                                        <a class="read-more-text" href="#">Read More <i class="la la-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-course-inner">
                        <div class="thumb">
                            <img src="assets/img/course/5.png" alt="img">
                            <div class="course-header-meta">
                                <span class="price">$89</span>                                    
                            </div>
                        </div>
                        <div class="details-inner">
                            <div class="course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="assets/img/course/1.png" alt="img">
                                        Advance
                                    </div>
                                    <div class="col-6 text-right">
                                        <img src="assets/img/course/2.png" alt="img">
                                        5 Week
                                    </div>
                                </div>
                            </div>
                            <h4><a href="course-details.html">Driving Lessons In The Trucks</a></h4>
                            <p>Excepteur sint occaecat non proident cupidatat, sunt in</p>
                            <div class="course-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="course-author">
                                            <img src="assets/img/team/1.png" alt="img">
                                            <span>Digail Am</span>
                                        </div>
                                    </div>
                                    <div class="col-6 align-self-center text-right">
                                        <a class="read-more-text" href="#">Read More <i class="la la-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrap mt-4 text-center">
                <a class="btn btn-base" href="blog.html">View More</a>
            </div>
        </div>
    </div>
    <!-- course area end -->

      <!-- footer area start -->
      {% include "include/footer.html"%}

      <!-- footer area end -->
  
  {% endblock %}