{% load static %}
<!-- preloader area start -->
<div class="preloader" id="preloader">
    <div class="preloader-inner">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
</div>
<!-- preloader area end -->

<!-- search popup start-->
<div class="td-search-popup" id="td-search-popup">
    <form action="home.html" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search.....">
        </div>
        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- search popup end-->
<div class="body-overlay" id="body-overlay"></div>

<!--sidebar menu start-->
<div class="sidebar-menu" id="sidebar-menu">
    <button class="sidebar-menu-close"><i class="fa fa-times"></i></button>
    <div class="sidebar-inner">
        <div class="thumb">
            <img src="{{setting.logo.url}}" alt="logo"/>
        </div>
        <p>{{setting.descrtiptions}}</p>
        <div class="sidebar-address">
            <h4 class="mb-3">контакты</h4>
            <ul>
                {% if setting.locate%}
                <li><i class="fa fa-map-marker"></i>{{setting.locate}}</li>
                {% endif %}
                {% if setting.email%}
                <li><i class="fa fa-envelope"></i>{{setting.email}}</li>
                {% endif %}
                {% if setting.phone%}
                <li><i class="fa fa-phone"></i>{{setting.phone}}</li>
                {% endif %}
            </ul>
        </div>
        <div class="sidebar-subscribe">
            <input type="text" placeholder="Email">
            <button><i class="fa fa-angle-right"></i></button>
        </div>
        <ul class="social-media">
            {% if setting.facebook%}
            <li><a href="{{setting.facebook}}"><i class="fa fa-facebook-f"></i></a></li>
            {% endif %}
            {% if setting.instagram%}
            <li><a href="{{setting.instagram}}"><i class="fa fa-instagram"></i></a></li>
            {% endif %}
            {% if setting.youtube%}
            <li><a href="{{setting.youtube}}"><i class="fa fa-youtube"></i></a></li>
            {% endif %}
            {% if setting.whatsapp%}
            <li><a href="{{setting.whatsapp}}"><i class="fa fa-whatsapp"></i></a></li>
            {% endif %}

        </ul>
    </div>
</div>
<div class="navbar-area">
    <!-- navbar top start -->
    <div class="navbar-top bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-md-left text-center">
                    <ul>
                        {% if setting.phone%}
                        <li><p><i class="fa fa-map-marker"></i> {{setting.phone}}</p></li>
                        {% endif %}
                        {% if setting.email%}
                        <li><p><i class="fa fa-envelope-o"></i> {{setting.email}}</p></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="topbar-right text-md-right text-center">
                        <li class="social-area">
                            {% if setting.facebook%}
                            <a href="{{setting.facebook}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if setting.instagram%}
                            <a href="{{setting.instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if setting.youtube%}
                            <a href="{{setting.youtube}}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if setting.whatsapp%}
                            <a href="{{setting.whatsapp}}"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-area-1 navbar-area navbar-expand-lg">
        <div class="container nav-container">
            <div class="responsive-mobile-menu">
                <button class="menu toggle-btn d-block d-lg-none" data-target="#edumint_main_menu" 
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-left"></span>
                    <span class="icon-right"></span>
                </button>
            </div>
            <div class="logo">
                <a href="{% url 'index'%}"><img src="{{setting.logo.url}}" style="max-width:100px;"alt="img"></a>
            </div>
            <div class="nav-right-part nav-right-part-mobile">
                <a class="search-bar-btn" href="#"><i class="fa fa-search"></i></a>
            </div>
            <div class="collapse navbar-collapse" id="edumint_main_menu">
                <ul class="navbar-nav menu-open text-right">
                    <li >
                        <a href="{% url 'index'%}">Главная страница</a>
    
                    </li>
                    <li >
                        <a href="{% url 'course' %}">Курсы</a>
                        
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">страницы</a>
                        <ul class="sub-menu">
                            <li ><a href="{% url 'blog' %}">Новости</a></li>
                            <li><a href="{% url 'about'%}">О нас</a></li>
                            <li><a href="{% url 'team'%}">Наша команда</a></li>
                            <li><a href="{% url 'gallery'%}">Галерея</a></li>
                            <li><a href="{% url 'login' %}">Войти</a></li>
                            <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>

                        </ul>
                    </li>
                    <li><a href="{% url 'contact'%}">Наши контакты</a></li>
                    {% if user.is_authenticated %}
                    <li class="menu-item-has-children">
                        <a href="{% url 'profile' %}">{{ request.user }}</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'profile' %}">Профиль</a></li>
                            <li><a href="{% url 'logout' %}">Выйти</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="menu-item-has-children">
                        <a href="#">Учетная запись</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'login' %}">Войти</a></li>
                            <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>

                        </ul>
                    </li>
                    {% endif %}

                </ul>
            </div>
            <div class="nav-right-part nav-right-part-desktop">
                <a class="search-bar-btn" href="#"><i class="fa fa-search"></i></a>
                <a class="btn btn-base menubar" id="navigation-button" href="#"><img src="{% static 'assets/img/icon/12.png' %}" alt="img"></a>
            </div>
        </div>
    </nav>
</div> 