{% extends 'homepage.html'%}
{% load static%}
{% block content%}

    {% include "include/header.html"%}
    <!-- navbar end -->
    
    <!-- breadcrumb start -->
    <div class="breadcrumb-area" style="background-image:url('{% static 'assets/img/other/3.png' %}')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0">
                    <h2 class="page-title">О нас</h2>
                    <ul class="page-list">
                        <li><a href="{% url 'index'}">Домой</a></li>
                        <li>О нас</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- about area start -->
    <div class="about-area bg-relative pd-top-90 pd-bottom-120">
        <div class="container">
            <div class="about-area-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-11">
                        <div class="about-thumb-wrap about-left-thumb">
                            <img class="img-1" src="{% static 'assets/img/about/1.png' %}" alt="img">
                            <img class="img-2" src="{{ about.first_image.url }}" style="max-width:400px;"alt="img">
                            <img class="img-3" src="{{ about.second_image.url }}" style="max-width:300px;" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="about-inner-wrap mt-2 pt-4 pt-lg-0">  
                            <div class="section-title mb-0">
                                <h6 class="sub-title left-line">О нас</h6>
                                <h2 class="title">{{about.title}}</h2>
                                <p class="content">{{ about.descriptions }}</p>
                                <h4 class="small-title">Мы можем помочь развить ваши навыки</h4>
                                {% if setting.phone %}
                                <h4 class="phone"><img src="{% static 'assets/img/icon/1.png' %}" alt="img"> {{setting.phone}}</h4>
                                {% endif %}
                                <a class="btn btn-base" href="course.html">Посмотреть  Курсы</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->

    <!-- counter area start -->
    <div class="counter-area bg-black pd-top-90 pd-bottom-90">
        <div class="counter-area-bg" style="background-image: url('{% static 'assets/img/bg/1.png' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="media counter-list-inner">
                            <div class="media-left">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/icon/2.png' %}" alt="img">
                                </div>
                            </div>
                            <div class="media-body align-self-center">
                                <h2><span class="counter">{{ number.teachers }}</span>+</h2>
                                <p>Преподователей</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="media counter-list-inner">
                            <div class="media-left">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/icon/3.png' %}" alt="img">
                                </div>
                            </div>
                            <div class="media-body align-self-center">
                                <h2><span class="counter">{{ number.students }}</span>+</h2>
                                <p>Студентов</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="media counter-list-inner">
                            <div class="media-left">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/icon/company.jpg' %}" width = "70px" alt="img">
                                </div>
                            </div>
                            <div class="media-body align-self-center">
                                <h2><span class="counter">{{ number.company }}</span>+</h2>
                                <p>IT-компаний, в которых работают наши выпускники</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="media counter-list-inner">
                            <div class="media-left">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/icon/5.png' %}" alt="img">
                                </div>
                            </div>
                            <div class="media-body align-self-center">
                                <h2><span class="counter">{{ number.alumni }}</span>+</h2>
                                <p>Выпускников</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter area end -->



    <!-- testimonial area start -->
    <div class="testimonial-area pd-top-120 pd-bottom-115 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-11">
                    <div class="section-title text-center">
                        <h6 class="sub-title double-line">Отзыв</h6>
                        <h2 class="title">Что Они Говорят О Нас </h2>
                    </div>
                </div>
            </div>
            <div class="testimonial-slider slider-control-dots owl-carousel">
                <div class="item">
                    <div class="single-testimonial-inner">
                        <img class="side-icon" src="{% static 'assets/img/icon/9.png' %}" alt="img">
                        <p>Eurtugul Freeman dolor sit amet, elitr ipscing sad consetetur diam nonumy eirmod invidunt tempor ut elitr labore</p>
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static 'assets/img/team/1.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Abigail Barbara</h6>
                                <span>CEO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner">
                        <img class="side-icon" src="{% static 'assets/img/icon/9.png' %}" alt="img">
                        <p>Stuart Binny ipsum dolor sit amet, elitr ipscing sad, consetetur diam nonumy eirmod invidunt tempor ut elitr labore</p>
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static 'assets/img/team/2.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Al Hshmud</h6>
                                <span>Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner">
                        <img class="side-icon" src="{% static 'assets/img/icon/9.png' %}" alt="img">
                        <p>Farguc ipsum dolor sit amet, elitr ipscing sad, consetetur diam nonumy eirmod invidunt tempor ut elitr labore</p>
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static 'assets/img/team/3.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Farguc Anti</h6>
                                <span>SE Founder</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner">
                        <img class="side-icon" src="{% static 'assets/img/icon/9.png' %}" alt="img">
                        <p>Stuart Binny ipsum dolor sit amet, elitr ipscing sad, consetetur diam nonumy eirmod invidunt tempor ut elitr labore</p>
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static 'assets/img/team/4.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Wilson Jac</h6>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner">
                        <img class="side-icon" src="{% static 'assets/img/icon/9.png' %}" alt="img">
                        <p>Stuart Binny ipsum dolor sit amet, elitr ipscing sad, consetetur diam nonumy eirmod invidunt tempor ut elitr labore</p>
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static 'assets/img/team/5.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Stuart Binny</h6>
                                <span>Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial area end -->

    <!-- footer area start -->
    {% include "include/footer.html"%}

{% endblock %}