{% extends 'homepage.html'%}
{% load static%}
{% block content%}

    {% include "include/header.html"%}
    <!-- navbar end -->
    
    <!-- breadcrumb start -->
    <div class="breadcrumb-area" style="background-image:url('{% static 'assets/img/other/3.png' %}')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0">
                    <h2 class="page-title">Связаться с нами</h2>
                    <ul class="page-list">
                        <li><a href="{% url 'index' %}">Домой</a></li>
                        <li>Связаться с нами</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <div class="contact-area pd-top-120">
        <div class="container">
            <div class="row">
                {% if setting.phone %}
                <div class="col-lg-4">
                    <div class="media single-contact-info">
                        <div class="media-left thumb">
                            <img src="{% static 'assets/img/icon/13.png' %}" alt="img">
                        </div>
                        <div class="media-body details">
                            <h4>Позвоните нам</h4>
                            <p>{{setting.phone}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if setting.email %}
                <div class="col-lg-4">
                    <div class="media single-contact-info">
                        <div class="media-left thumb">
                            <img src="{% static 'assets/img/icon/14.png' %}" alt="img">
                        </div>
                        <div class="media-body details">
                            <h4>Наша почта</h4>
                            <p>{{setting.email}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if setting.locate %}
                <div class="col-lg-4">
                    <div class="media single-contact-info">
                        <div class="media-left thumb">
                            <img src="{% static 'assets/img/icon/15.png' %}" alt="img">
                        </div>
                        <div class="media-body details">
                            <h4>Расположение</h4>
                            <p>{{setting.locate}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- contact form area start -->
    <div class="contact-form-area pd-top-120 pd-bottom-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-form-inner">
                        <div class="section-title mb-0">
                            <h6 class="sub-title left-line">Связаться</h6>
                            <h3 class="small-title mt-0">Мы всегда готовы решить вашу любую проблему</h3>
                        </div>
                        <form class="mt-5 mt-md-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="single-input-inner">
                                        <input name="name" type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-input-inner">
                                        <input name="email" type="text" placeholder="Email">
                                    </div>
                                </div>

                                <!-- <div class="col-12">
                                    <div class="single-input-inner">
                                        <input type="text" placeholder="Subject">
                                    </div>
                                </div> -->
                                <div class="col-12">
                                    <div class="single-input-inner">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-base">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% if setting.address_url %}
                <div class="col-lg-6 mt-5 mt-lg-0">
                    <div class="contact-g-map">
                        <iframe src="{{ setting.address_url }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- contact form area end -->

    <!-- footer area start -->
    {% include "include/footer.html"%}

{% endblock %}