{% extends 'homepage.html'%}
{% load static%}
{% block content%}

    {% include "include/header.html"%}
    <!-- navbar end -->

    <!-- breadcrumb start -->
    <div class="breadcrumb-area" style="background-image:url('{% static 'assets/img/other/3.png' %}')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0">
                    <h2 class="page-title">Photos Gallery</h2>
                    <ul class="page-list">
                        <li><a href="home.html">Home</a></li>
                        <li>Photos Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- gallery area start -->
    <div class="gallery-area pd-top-120 pd-bottom-120 bg-relative">
        <div class="container">
            <div class="row">
                {% for gallery in gallery %}
                    <div class="col-md-4">
                        <div class="gallery-thumb">    
                            <a href="{{ gallery.image.url }}" class="without-caption image-link">
                                <img src="{{ gallery.image.url }}" />  
                                <span>
                                    <i class="fa fa-search-plus"></i>
                                </span>
                            </a>                  
                        </div>
                    </div>
                    {% endfor %}
                <div class="col-lg-12 text-center">
                    <a class="btn btn-base" href="#">Load More</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- gallery area end -->

    <!-- footer area start -->
    {% include "include/footer.html"%}

{% endblock %}