{% extends 'homepage.html'%}
{% load static%}
{% block content%}


    {% include "include/header.html"%}
    <!-- navbar end -->
    
    <!-- banner start -->
    <div class="banner-area banner-area-1" style="background-image: url('{{slide.image.url}}');">
        <div class="banner-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="banner-inner style-white text-center text-lg-left">
                        <img class="animate-img-1 top_image_bounce" src="{% static 'assets/img/shape/3.png' %}" alt="img">
                        <h6 class="b-animate-1 sub-title">{{setting.name}}</h6>
                        <h1 class="b-animate-2 title">{{slide.title}}</h1>
                        <p class="content b-animate-3">{{slide.descriptions}}</p>
                        <div class="btn-wrap">
                            <a class="btn btn-base b-animate-4 mr-3" href="{% url 'contact' %}">Открой для себя больше</a>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <!-- banner end -->   

    <!-- intro start -->
    <div class="intro-area intro-one-area mg-top--82">
        <div class="container">
            <div class="row no-lg-gutters justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-intro-inner media">
                        <div class="thumb media-left">
                            <img src="{% static 'assets/img/intro/1.png' %}" alt="img">
                        </div>
                        <div class="details media-body">
                            <h4>Easy Learn Driving</h4>
                            <p>Easy Learn Driving sit amet, adipe elit</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-intro-inner single-intro-inner-active media">
                        <div class="thumb media-left">
                            <img src="{% static 'assets/img/intro/2.png' %}" alt="img">
                        </div>
                        <div class="details media-body">
                            <h4>National Instructor</h4>
                            <p>National Learn Driving sit amet, adipe elit</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-intro-inner media">
                        <div class="thumb media-left">
                            <img src="{% static 'assets/img/intro/1.png' %}" alt="img">
                        </div>
                        <div class="details media-body">
                            <h4>Get licence</h4>
                            <p>licence Learn Driving sit amet, adipe elit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- intro end -->

    <!-- about area start -->
    <div class="about-area bg-relative pd-top-90 pd-bottom-120">
        <div class="container">
            <div class="about-area-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-11">
                        <div class="about-thumb-wrap about-left-thumb">
                            <img class="img-1" src="{% static 'assets/img/about/1.png' %}" alt="img">
                            <img class="img-2" src="{{ about.first_image.url }}" style="max-width:400px;"alt="img">
                            <img class="img-3" src="{{ about.second_image.url }}" style="max-width:300px;" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="about-inner-wrap mt-2 pt-4 pt-lg-0">  
                            <div class="section-title mb-0">
                                <h6 class="sub-title left-line">О нас</h6>
                                <h2 class="title">{{about.title}}</h2>
                                <p class="content">{{ about.descriptions }}</p>
                                <h4 class="small-title">Мы можем помочь развить ваши навыки</h4>
                                {% if setting.phone %}
                                <h4 class="phone"><img src="{% static 'assets/img/icon/1.png' %}" alt="img"> {{setting.phone}}</h4>
                                {% endif %}
                                <a class="btn btn-base" href="course.html">Посмотреть  Курсы</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->

    <!-- course area start -->
    <div class="course-area bg-light pd-top-115 pd-bottom-90 bg-relative">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <h6 class="sub-title left-line">Tranding course</h6>
                        <h2 class="title">Course Upskill Your People With Driving Training</h2>
                    </div>
                    <div class="col-xl-6 col-lg-5 align-self-lg-end text-lg-right">
                        <div class="btn-wrap">
                            <a class="btn btn-base" href="course.html">View Course</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-course-inner">
                        <div class="thumb">
                            <img src="{% static 'assets/img/course/3.png' %}" alt="img">
                            <div class="course-header-meta">
                                <span class="price">$79</span>                                    
                            </div>
                        </div>
                        <div class="details-inner">
                            <div class="course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="{% static 'assets/img/course/1.png' %}" alt="img">
                                        Advance
                                    </div>
                                    <div class="col-6 text-right">
                                        <img src="{% static 'assets/img/course/2.png' %}" alt="img">
                                        5 Week
                                    </div>
                                </div>
                            </div>
                            <h4><a href="course-details.html">Automatic Driving Lessons</a></h4>
                            <p>Excepteur sint occaecat non proident cupidatat, sunt in</p>
                            <div class="course-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="course-author">
                                            <img src="{% static 'assets/img/other/author-1.png' %}" alt="img">
                                            <span>Abigail Am</span>
                                        </div>
                                    </div>
                                    <div class="col-6 align-self-center text-right">
                                        <a class="read-more-text" href="#">Read More <i class="la la-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-course-inner">
                        <div class="thumb">
                            <img src="{% static 'assets/img/course/4.png' %}" alt="img">
                            <div class="course-header-meta">
                                <span class="price">$59</span>                                    
                            </div>
                        </div>
                        <div class="details-inner">
                            <div class="course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="{% static 'assets/img/course/1.png' %}" alt="img">
                                        Beginner
                                    </div>
                                    <div class="col-6 text-right">
                                        <img src="{% static 'assets/img/course/2.png' %}" alt="img">
                                        5 Week
                                    </div>
                                </div>
                            </div>
                            <h4><a href="course-details.html">Cover Installed In The Trucks</a></h4>
                            <p>Excepteur sint occaecat non proident cupidatat, sunt in</p>
                            <div class="course-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="course-author">
                                            <img src="{% static 'assets/img/other/author-2.png' %}" alt="img">
                                            <span>Al Mahmu</span>
                                        </div>
                                    </div>
                                    <div class="col-6 align-self-center text-right">
                                        <a class="read-more-text" href="#">Read More <i class="la la-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-course-inner">
                        <div class="thumb">
                            <img src="{% static 'assets/img/course/5.png' %}" alt="img">
                            <div class="course-header-meta">
                                <span class="price">$89</span>                                    
                            </div>
                        </div>
                        <div class="details-inner">
                            <div class="course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="{% static 'assets/img/course/1.png' %}" alt="img">
                                        Advance
                                    </div>
                                    <div class="col-6 text-right">
                                        <img src="{% static 'assets/img/course/2.png' %}" alt="img">
                                        5 Week
                                    </div>
                                </div>
                            </div>
                            <h4><a href="course-details.html">Driving Lessons In The Trucks</a></h4>
                            <p>Excepteur sint occaecat non proident cupidatat, sunt in</p>
                            <div class="course-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="course-author">
                                            <img src="{% static 'assets/img/team/1.png' %}" alt="img">
                                            <span>Digail Am</span>
                                        </div>
                                    </div>
                                    <div class="col-6 align-self-center text-right">
                                        <a class="read-more-text" href="#">Read More <i class="la la-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- course area end -->

    <!-- counter area start -->
    <div class="counter-area bg-black pd-top-90 pd-bottom-90">
        <div class="counter-area-bg" style="background-image: url('{% static 'assets/img/bg/1.png' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="media counter-list-inner">
                            <div class="media-left">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/icon/2.png' %}" alt="img">
                                </div>
                            </div>
                            <div class="media-body align-self-center">
                                <h2><span class="counter">{{ number.teachers }}</span>+</h2>
                                <p>Преподователей</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="media counter-list-inner">
                            <div class="media-left">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/icon/3.png' %}" alt="img">
                                </div>
                            </div>
                            <div class="media-body align-self-center">
                                <h2><span class="counter">{{ number.students }}</span>+</h2>
                                <p>Студентов</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="media counter-list-inner">
                            <div class="media-left">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/icon/company.jpg' %}" width = "70px" alt="img">
                                </div>
                            </div>
                            <div class="media-body align-self-center">
                                <h2><span class="counter">{{ number.company }}</span>+</h2>
                                <p>IT-компаний, в которых работают наши выпускники</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="media counter-list-inner">
                            <div class="media-left">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/icon/5.png' %}" alt="img">
                                </div>
                            </div>
                            <div class="media-body align-self-center">
                                <h2><span class="counter">{{ number.alumni }}</span>+</h2>
                                <p>Выпускников</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter area end -->

    <!-- about area start -->
    <div class="about-area pd-top-120 pd-bottom-120 bg-relative">
        <div class="container">
            <div class="about-area-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-10 order-lg-12 text-lg-right">
                        <div class="about-thumb-wrap about-right-thumb">
                            <img class="img-1" src="{% static 'assets/img/about/1.png' %}" alt="img">
                            <img class="img-2" src="{% static 'assets/img/about/4.png' %}" alt="img">
                            <img class="img-3" src="{% static 'assets/img/about/1.png' %}" alt="img">
                            <div class="about-quote">
                                <img src="{% static 'assets/img/icon/8.png' %}" alt="img">
                                We’re trusted by more than 1100 clients
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1 align-self-center">
                        <div class="about-inner-wrap pt-4 pt-lg-0">  
                            <div class="section-title mb-0">
                                <h6 class="sub-title left-line">Smart Way</h6>
                                <h2 class="title">Digital Tecnology For Much Easier Driving Learning</h2>
                                <div class="media single-list-inner mt-4">
                                    <div class="media-left mr-3">
                                        <img src="{% static 'assets/img/icon/6.png' %}" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h4>Smartly Learn and safe</h4>
                                        <p class="mb-0">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                                    </div>
                                </div>
                                <div class="media single-list-inner mt-4">
                                    <div class="media-left mr-3">
                                        <img src="{% static 'assets/img/icon/7.png' %}" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h4>Instructors Come to You</h4>
                                        <p class="mb-0">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                                    </div>
                                </div>
                                <a class="btn btn-base" href="course.html">Start Course</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->

    <!-- testimonial area start -->
    <div class="testimonial-area pd-top-120 pd-bottom-115" style="background-color: #F7FAFC;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-11">
                    <div class="section-title text-center">
                        <h6 class="sub-title double-line">Testimonial</h6>
                        <h2 class="title">What They Are Talking About Us</h2>
                    </div>
                </div>
            </div>
            <div class="testimonial-slider slider-control-dots owl-carousel">
                <div class="item">
                    <div class="single-testimonial-inner">
                        <img class="side-icon" src="{% static 'assets/img/icon/9.png' %}" alt="img">
                        <p>Eurtugul Freeman dolor sit amet, elitr ipscing sad consetetur diam nonumy eirmod invidunt tempor ut elitr labore</p>
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static 'assets/img/testimonial/1.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Abigail Barbara</h6>
                                <span>CEO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner">
                        <img class="side-icon" src="{% static 'assets/img/icon/9.png' %}" alt="img">
                        <p>Stuart Binny ipsum dolor sit amet, elitr ipscing sad, consetetur diam nonumy eirmod invidunt tempor ut elitr labore</p>
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static 'assets/img/testimonial/2.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Al Hshmud</h6>
                                <span>Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner">
                        <img class="side-icon" src="{% static 'assets/img/icon/9.png' %}" alt="img">
                        <p>Farguc ipsum dolor sit amet, elitr ipscing sad, consetetur diam nonumy eirmod invidunt tempor ut elitr labore</p>
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static 'assets/img/testimonial/1.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Farguc Anti</h6>
                                <span>SE Founder</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner">
                        <img class="side-icon" src="{% static 'assets/img/icon/9.png' %}" alt="img">
                        <p>Stuart Binny ipsum dolor sit amet, elitr ipscing sad, consetetur diam nonumy eirmod invidunt tempor ut elitr labore</p>
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static 'assets/img/testimonial/2.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Wilson Jac</h6>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner">
                        <img class="side-icon" src="{% static 'assets/img/icon/9.png' %}" alt="img">
                        <p>Stuart Binny ipsum dolor sit amet, elitr ipscing sad, consetetur diam nonumy eirmod invidunt tempor ut elitr labore</p>
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static 'assets/img/testimonial/1.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Stuart Binny</h6>
                                <span>Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner">
                        <img class="side-icon" src="{% static 'assets/img/icon/9.png' %}" alt="img">
                        <p>Stuart Binny ipsum dolor sit amet, elitr ipscing sad, consetetur diam nonumy eirmod invidunt tempor ut elitr labore</p>
                        <div class="media">
                            <div class="media-left">
                                <img src="{% static 'assets/img/testimonial/2.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Wilson Jac</h6>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            {% if user.is_authenticated %}

                <a class="btn btn-base" href="course.html">Оставить отзыв</a>
            {% endif %}
        </div>
    </div>
    <!-- testimonial area end --> 
    <!-- team area start -->
    
    <div class="team-area bg-relative pd-top-115 pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-11">
                    <div class="section-title text-center">
                        <h6 class="sub-title double-line">Знакомство с командой</h6>
                        <h2 class="title">Опытные Преподователи</h2>
                    </div>
                </div>
            </div>
            <div class="team-area pd-top-120 pd-bottom-90">
                <div class="container">
                    <div class="row justify-content-center">
                        {% for team in team_page_number %}
                            <div class="col-lg-4 col-md-6">
                                <div class="single-team-inner text-center">
                                    <div class="thumb">
                                        <img src="{{ team.image.url }}" style="max-width:200px;" alt="team">                       
                                        <ul class="social-media">
                                            <li>
                                                {% if team.facebook %}
                                                <a class="btn-base-m" href="{{ team.facebook }}">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if team.instagram %}
                                                <a class="btn-base-m" href="{{ team.instagram }}">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if team.whatsapp %}
                                                <a class="btn-base-m" href="{{ team.whatsapp }}">
                                                    <i class="fa fa-whatsapp"></i>
                                                </a>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if team.github %}
                                                <a class="btn-base-m" href="{{  team.github }}">
                                                    <i class="fa fa-github"></i>
                                                </a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div> 
                                    <div class="details">
                                        <h4><a href="{% url 'team_detail' team.id %}">{{ team.name }}</a></h4>
                                        <span>{{ team.work }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team area end -->

    <!-- callto action area start -->
    <div class="call-to-action-area pd-top-110 pd-bottom-120 bg-overlay" style="background-image: url('{% static 'assets/img/bg/2.png' %}');">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title style-white mb-0">
                        <h6 class="sub-title left-line">Help</h6>
                        <h2 class="title">We help our Students Pass the Driving Test on THEIR FIRST TRY</h2>
                        <p class="content">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        <a class="btn btn-base" href="course.html">Start Course</a>
                    </div>  
                </div>
                <div class="col-xl-6 col-lg-4 align-self-center">
                    <div class="text-center pd-top-60 pt-lg-0">
                        <a class="video-play-btn" href="https://www.youtube.com/embed/Wimkqo8gDZ0" data-effect="mfp-zoom-in"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- callto action area end -->

    <!--blog-area start-->
    <div class="blog-area pd-top-110 pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-11">
                    <div class="section-title text-center">
                        <h6 class="sub-title double-line">News</h6>
                        <h2 class="title">Every Single day update here About Driving</h2>
                    </div>
                </div>
            </div>
            <div class="blog-area pd-top-120 pd-bottom-120">
                <div class="container">
                    <div class="row justify-content-center">
                        {% for blog in blog_page_obj %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-blog-inner">
                                <div class="thumb">
                                    <img src="{{blog.image.url}}" style="max-width:200px;" alt="img">
                                    <div class="date">{{blog.created_add}}</div>
                                </div>
                                <div class="details">
                                    <h4><a href="{% url 'blog_detail' blog.id %}">{{blog.title}}</a></h4>
                                    <p class="content">{{blog.descriptions|truncatewords:5}}</p>
                                    <a class="read-more-text ml-0" href="{% url 'blog_detail' blog.id%}">Продолжить дале <i class="la la-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="btn-wrap mt-4 text-center">
                        <a class="btn btn-base" href="blog.html">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--blog-area end-->

    <!-- footer area start -->
    {% include "include/footer.html"%}
{% endblock %}