{% extends 'homepage.html'%}
{% load static%}
{% block content%}

    {% include "include/header.html"%}
    <!-- navbar end -->
    
    <!-- breadcrumb start -->
    <div class="breadcrumb-area" style="background-image:url('{% static 'assets/img/other/3.png' %}')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0">
                    <h2 class="page-title">Наша команда</h2>
                    <ul class="page-list">
                        <li><a href="{% url 'index' %}">Домой</a></li>
                        <li>Наша команда</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- team area start -->
    <div class="team-area pd-top-120 pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                {% for team in team %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-inner text-center">
                        <div class="thumb">
                            <img src="{{ team.image.url }}" alt="team">                       
                            <ul class="social-media">
                                <li>
                                    {% if team.facebook %}
                                    <a class="btn-base-m" href="{{ team.facebook }}">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if team.instagram %}
                                    <a class="btn-base-m" href="{{ team.instagram }}">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if team.whatsapp %}
                                    <a class="btn-base-m" href="{{ team.whatsapp }}">
                                        <i class="fa fa-whatsapp"></i>
                                    </a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if team.github %}
                                    <a class="btn-base-m" href="{{  team.github }}">
                                        <i class="fa-github"></i>
                                    </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div> 
                        <div class="details">
                            <h4><a href="{% url 'team_detail' team.id %}">{{ team.name }}</a></h4>
                            <span>{{ team.work }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- team area end -->

    <!-- footer area start -->
    {% include "include/footer.html"%}

{% endblock %}