{% extends 'homepage.html'%}
{% load static%}
{% block content%}

    {% include "include/header.html"%}
    <!-- navbar end -->
    
    <!-- breadcrumb start -->
    <div class="breadcrumb-area" style="background-image:url('{% static 'assets/img/other/3.png' %}')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0">
                    <h2 class="page-title">{{team.name}}</h2>
                    <ul class="page-list">
                        <li><a href="{% url 'index' %}">Домой</a></li>
                        <li>{{team.work}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- team details page -->
    <div class="team-blog-area pd-top-120 pd-bottom-90">
        <div class="container">
            <div class="team-details-page">
                <div class="row">
                    <div class="col-lg-5 text-center">
                        <div class="thumb mb-4">
                            <img class="w-100" src="{{team.image.url}}" alt="img">
                        </div>
                        <span class="designation">{{team.work}}</span>
                        <h3 class="mt-2">{{team.name}}</h3>
                        <ul class="social-media style-base mt-4">
                            {% if team.facebook %}
                            <li>
                                <a href="{{team.facebook}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            {% endif %}
                            {% if team.instagram %}
                            <li>
                                <a href="{{team.instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            {% endif %}
                            {% if team.whatsapp %}
                            <li>
                                <a href="{{team.whatsapp}}"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                            </li>
                            {% endif %}
                            {% if team.github %}
                            <li>
                                <a href="{{team.github}}"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-lg-7">
                        <div class="details">
                            <h3>Обо мне</h3>
                            <p>{{team.descriptions}}</p>
                        </div> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team details page end -->

    <!-- footer area start -->
    {% include "include/footer.html"%}

{% endblock %}