{% extends 'homepage.html'%}
{% load static%}
{% block content%}



    {% include "include/header.html"%}

    <!-- navbar end -->

    <!-- breadcrumb start -->
    <div class="breadcrumb-area" style="background-image:url('{% static 'assets/img/other/3.png' %}')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0">
                    <h2 class="page-title">News</h2>
                    <ul class="page-list">
                        <li><a href="home.html">Home</a></li>
                        <li>News</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- blog area start -->
    <div class="blog-area pd-top-120 pd-bottom-120">
        <div class="container">
            <div class="row justify-content-center">
                {% for blog in blog %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-inner">
                        <div class="thumb">
                            <img src="{{blog.image.url}}" style="max-width:300px;" alt="img">
                            <div class="date">{{blog.created_add}}</div>
                        </div>
                        <div class="details">
                            <h4><a href="{% url 'blog_detail' blog.id %}">{{blog.title}}</a></h4>
                            <p class="content">{{blog.descriptions|truncatewords:5}}</p>
                            <a class="read-more-text ml-0" href="{% url 'blog_detail' blog.id%}">Продолжить дале <i class="la la-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="btn-wrap mt-4 text-center">
                <a class="btn btn-base" href="blog.html">View More</a>
            </div>
        </div>
    </div>
    <!-- blog area end -->

    <!-- footer area start -->
    {% include "include/footer.html"%}

{% endblock%}