{% extends 'homepage.html'%}
{% load static%}
{% block content%}

    {% include "include/header.html"%}
    <!-- navbar end -->
    
    <!-- breadcrumb start -->
    <div class="breadcrumb-area" style="background-image:url('{% static 'assets/img/other/3.png' %}')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0 text-center">
                    <h2 class="page-title">Войти</h2>
                    <ul class="page-list">
                        <li><a href="{% url 'index' %}">Домой</a></li>
                        <li>Войти</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- signin-page-Start --> 
    <div class="signin-page-area pd-top-120 pd-bottom-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7">
                    <form class="signin-inner" method = "POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="single-input-inner style-bg-border">
                                    <input type="text" name = "username" placeholder="Имя пользователя">
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="single-input-inner style-bg-border">
                                    <input type="password"name = "password" placeholder="Пароль">
                                </div>
                            </div>
                            <div class="col-12 mb-4">
                                <button class="btn btn-base w-100">Войти</button>
                            </div>
                            <div class="col-12">
                                <a href="#">У вас нет аккаунта ?</a>
                                <a href="signup.html"><strong>Зарегистрироваться</strong></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- signin-page-end -->

    <!-- footer area start -->
    {% include "include/footer.html"%}

    <!-- footer area end -->

{% endblock %}